<configuration>
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] - %msg%n</Pattern>
        </layout>
    </appender>
  
	  <!-- Loggers -->
	  <logger name="jdbc" level="OFF"/>
	  
	  <logger name="jdbc.sqlonly" level="DEBUG"/>
	  <logger name="jdbc.sqltiming" level="DEBUG"/>
	  <logger name="jdbc.audit" level="OFF"/>
	  <logger name="jdbc.resultset" level="OFF"/>
	  <logger name="jdbc.resultsettable" level="DEBUG"/>
	  <logger name="jdbc.connection" level="OFF"/> 
	  
  	<root level="INFO">
    	<appender-ref ref="STDOUT" />
  	</root>
  
</configuration>